.emoji:hover{
  cursor:pointer;
}
.emojiParent{
  background-color: rgb(102, 184, 211);
  font-size: 25px;
  padding:10px;
}

.emojiSearch{
  display: flex;
  flex-direction: column;
  width:40vw;
  height: 500px;
}
.emojis{
  width:40vw;
  height:500px;
  overflow:auto;
}
.emojiInput{
  display: flex;
  align-items: center;
  justify-content: center;
}
.emojiInput>input{
  font-size: 25px;
  height:50px;
  width:100%;
}
.emojiInput>input:focus{
  outline:none
}

.massageContainer{
  width: 40vw;
  height:500px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  background-color: lightblue;
  overflow: auto;
  line-break: anywhere;
}
/*.massageText{
  height:400px;
  width:calc(100% - 4px);
  border-radius: 10px;
  border:2px solid darkblue;
  margin-top:10px;
  overflow:auto;
  align-self: center;
}
*/
.massage{
  width:80%;
  height:auto;
  background:dodgerblue;
  color:white;
  margin:10px;
  border-radius: 10px;
  padding-left:5px;
  font-size: 25px;
}
.writeSend{
  width:100%;
  display: flex;
  align-items: center;
  justify-content:center;
}
.writeSend>input{
  width:75%;
  height:50px;
  font-size: 25px;
}
.writeSend>input:focus{
  outline:none;
}

.writeSend>button{
 font-size: 20px;
 letter-spacing: 1px;
 width:25%;
 height:100%;
}

@media screen and (max-width:750px){
  .writeSend>button{
      font-size:13px;
      line-break:strict;
  }
 
}

